*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root{
  --back-ground:#F2DDA4;
  --grey-white:#E7EFC5;
  --blue-green:#BFD7B5;
  --blue:#A3C4BC;
  --violet:#413C58;
}


body{
  font-family: 'Chivo Mono', monospace;
  background-color:var(--back-ground);
}

.main--heading{
  text-align: center;
  font-weight:bolder;
  font-size: 40px;
  color:var(--violet);
  
}

.get-task--container{
  gap:20px;
  margin-top: 20px;
 margin-left: 20px;
}

.get-task--container > form{
  display: flex;
  flex-direction: column;
}

label{
  font-weight: 700;
  font-size:25px;
  margin-right:20px;
  margin-left: 10px;
  color:var(--violet);
}

input,textarea{
  font-weight: 600;
  color: var(--violet);
  background-color:var(--grey-white);
  border: 2px solid var(--violet);
  padding:3px;
  border-radius: 5px;
}

.get-task--input-heading{
  width:300px;
  height:40px;
  margin-left: 40px;
}

.get-task--input-description{
  width:300px;
  height:100px;
  text-align:start;
  margin-left: 40px;
}

.get-task--start-date,.get-task--end-date{
  width: 150px;
  margin-left: 40px;
  color: var(--violet);
}

.get-task--submit{
  align-self: center;
  margin-top: 30px;
  height:40px;
  width:100px;
  background-color: var(--grey-white);
  border:2px solid var(--violet);
}

.get-task--submit:hover{
  background-color: var(--grey-white);
  box-shadow: 0 5px .5px var(--violet);
  border:2px solid var(--violet);
}

.get-task--submit:active{
  background-color: var(--grey-white);
  box-shadow: 0 5px .5px var(--violet);
  border:2px solid var(--violet);
  transform:translateY(1.5px);
  transition: all 0.1s ease;
}

.card--container{
  display: grid;
  grid-template-columns:repeat(3,320px);
  gap:10px;
}

.card{
  max-width:300px;
  max-height:200px;
  border:2px solid var(--violet);
  background-color: var(--grey-white);
  margin:10px;
  color: var(--violet);
  font-weight: 600;
  padding-left: 5px;
}

.card--buttons{
  display: flex;
  justify-content: space-around;
}
.card--description{
  margin-bottom: auto;
}

.nav-link{
  color: var(--violet);
}

.nav-tabs .nav-link.active{
  background-color: var(--grey-white);
  border-color:var(--violet);
}

.btn--completed,
.btn--delete,
.btn--edit{
  border: none;
  outline: none;
  color:var(--violet)
}

.btn--completed:hover,
.btn--delete:hover,
.btn--edit:hover{
  background-color:var(--violet);
  color: var(--grey-white);
}
.btn--completed:active,
.btn--delete:active,
.btn--edit:active{
  border: none;
  outline: none;
}

p{
  margin: 0;
}
.card--description-word{
  font-weight: 400;
}

.card--heading{
  margin-top: 10px;
  font-size: 30px;
  font-weight: 900;
}

@media(max-width:430px) {

  .get-task--input-heading{
    width:250px;
    height:40px;
    margin-left: 40px;
  }
  
  .get-task--input-description{
    width:250px;
    height:100px;
    text-align:start;
    margin-left: 40px;
  }
  .card--container{
    display: grid;
    grid-template-columns:repeat(1,320px);
    gap:10px;
    justify-content: center
    ;
  }

}



